apiVersion: v1
kind: Service
metadata:
  name: {{ .ServiceName }}
  labels:
    app: {{ .ServiceName }}
spec:
  ports:
    - port: 443
      targetPort: 8000
      protocol: TCP
      name: http
  selector:
    app: {{ .ServiceName }}